html, body, canvas {
    overflow: hidden;
    margin: 0;
    image-rendering: -moz-crisp-edges !important;
    image-rendering: -webkit-crisp-edges !important;
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
    /*cursor: url("./resources/cursor.png"), auto;*/
  }

.discussion {
  overflow: hidden;
  background-color: black;
  color: white;
  vertical-align: top;
  width: 99%;
  height: 70%;
  border: 10px solid gray;
}

#chatbox {
  position: absolute;
  width: 300px;
  height: 30px;
  bottom: 100px;
  left: 25%;
}