html, body, canvas {
    overflow: hidden;
    margin: 0;
    image-rendering: -moz-crisp-edges !important;
    image-rendering: -webkit-crisp-edges !important;
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
    border-radius: 10px;
  }

.topnav {
  overflow: hidden;
  background-color: #394F48;
  min-height: 46px;
}

input {
  border-radius: 10px;
  background-color: #FFFEEC;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: #DE6C1C;
  color:#FFFEEC;
  margin: 5px;
  border: 0px;
  cursor:pointer;
}

button:hover {
  background-color: #DE3413;
}

#sidepanel {
  overflow: hidden;
  background-color: #1C2623;
  color: #FFFEEC;
  vertical-align: top;
  width: 98%;
  /*border-radius: 10px;
  border: 3px solid #FFFEEC;*/
}

.searchingWoodsButton {
  background-color: #DE6C1C;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #DE6C1C;
  }
  50% {
    background-color: #DE3413;
  }
  100% {
    background-color: #DE6C1C;
  }
}

.chatLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #394F48;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.chatLi:hover {
  background-color:#DE6C1C;
}

.inviteLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #1c9cad;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.inviteLi:hover {
  background-color:#DE6C1C;
}

.selectedInviteLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #DE3413;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.materialLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #394F48;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.materialLi:hover {
  background-color:#DE6C1C;
}

.selectedMaterialLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #DE3413;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.craftLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #394F48;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.craftLi:hover {
  background-color:#DE6C1C;
}

.selectedCraftLi {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #DE3413;
  color: #FFFEEC;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

.modal-sub-content {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  padding: 20px;
  background-color: #394F48;
  color: #FFFEEC;
}
.modal-sub-content-confirm {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  padding: 20px;
  background-color: #394F48;
  color: #FFFEEC;
}

#chatbox {
  margin-left: 5px;
  margin-right: 5px;
  width: 95%
}

#craftinfo {
  border-radius: 10px;
  border: 1px solid #FFFEEC;
  background-color: #273631;
  color: #FFFEEC;
  margin: 5px;
  padding: 10px;
  position: absolute;
  left: 30px;
  top: 50px;
}

#userinfo {
  position: absolute;
  right: 60px;
  top: 15px;
  color: #FFFEEC;
  direction: rtl;
}

#muteButton {
  position: absolute;
  right: 10px;
  top: 0px;
}